html,
body {
    /* overflow: hidden; */
    max-width: 100vw;
    box-sizing: border-box;
}

main {}

main>.gameWrapper {
    font: 1.2em "Pretendard-Regular", "Fira Sans", sans-serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

main>.gameWrapper>.gameControler {
    width: 15rem;
    min-height: 29rem;
    flex: 1 0 400px;
    margin: 1rem auto;
}

main>.gameWrapper>.gameControler>.gameBtn,
main>.gameWrapper>.gameControler>span {
    font: 1.2rem/1.7rem "Pretendard-Regular", "Fira Sans", sans-serif;
    display: block;
    margin: 0.2rem auto;
    height: 2.2rem;
    width: 8rem;
    background-color: #616161;
    border: none;
    border-radius: 10px;
    color: lightsalmon;
    transition: 0.2s ease-in-out;
}
main>.gameWrapper>.gameControler>.gameTimer,
main>.gameWrapper>.gameControler>.gameScore { 
    visibility: hidden;
}



main>.gameWrapper>.gameControler>button:hover {
    transform: scale(1.1);
    border: 2px solid lightsalmon;
}


main>.gameWrapper>.gameControler>button {
    cursor: pointer;
}

main>.gameWrapper>.gameControler>span {
    font: 1.5rem;
    line-height: 2rem;
    border: none;
    background-color: #919191;
    color: white;
}

main>.gameWrapper>.gameArea {
    position: relative;
    height: 100vh;
}


/* modal */

.modal {
    width: 100vh;
    /* display: flex; */
    display: none;
    opacity: 1;
}

.gameOver>.gameOverlay,
.modal>.madalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6)
}

.gameOver>.gameOverlInner,
.modal>.modalInner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width: 25rem;
    padding: 2rem;
    text-align: center;
    background-color: rgb(204, 204, 204);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.gameOver>.gameOverlInner>img,
.modal>.modalInner>img {
    width: 10rem;
    margin-bottom: 2rem;
}

.modal>.modalInner>img {
    border-radius: 6rem;
}

.gameOver>.gameOverlInner>.popText,
.modal>.modalInner>.popText {
    font: 1.2rem/1.7rem "Pretendard-Regular", "Fira Sans", sans-serif;
    margin-bottom: 1rem;

}

.gameOver>.gameOverlInner>.gameOverClose,
.modal>.modalInner>.btnClose {
    font: 1rem/1.7rem "Pretendard-Regular", "Fira Sans", sans-serif;
    display: block;
    margin: 0.2rem auto 0 auto;
    height: 2.2rem;
    width: 4.5rem;
    border: none;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    background-color: #616161;
    color: white;
    cursor: pointer;
}

.gameOver>.gameOverlInner>.gameOverClose:hover,
.modal>.modalInner>.btnClose:hover {
    transform: scale(1.1);
    border: 2px solid lightsalmon;
    color: lightsalmon;
}

.objHidden {
    display: none;
    flex: 1 0 400px;
    margin: 1rem auto;

}